/*CSS que se incluye en todos los .html*/

/*DECORATORS OF BOOTSTRAP*/
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.panel-body {
	background:#ffffff;
}

.alert-danger,
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
font-weight: bold;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	opacity:1;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #1B5D96;
    color: white;
}

.btn-primary{
	background-color: #1B5D96;
    border-color: #1B5D96;
}

.btn-primary:hover{
	background:#3472A7;
	border-color: #3472A7;
}

.btn-warning {
    color: #fff;
    background-color: #E65100;
    border-color: #E65100;
}

.btn-warning:hover{
	background:#EF6C00;
	border-color: #EF6C00;
}

/*END DECORATORS OF BOOTSTRAP*/

.texto-centrado {
	text-align: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.usuarioLogeado {
	font-size: 16px;
}

.titlePanel {
	font-size: 18px;
}