<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" 
			th:fragment="confirmationFragment(title, alertMessage, question, labelAbort, labelConfirm)">
	    <div class="modal-dialog">
	        <div class="modal-content">
	        
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title" id="myModalLabel" th:text="${title}"></h4>
	            </div>
	        
	            <div class="modal-body">
	                <p th:text="${alertMessage}">Mensaje</p>
	                <p th:text="${question}">Consulta</p>
	            </div>
	            
	            <div class="modal-footer" id="divButtons">
	                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" th:text="${labelAbort}">Cancelar</button>
	                <a id="confirmButton" class="btn btn-sm btn-danger" th:text="${labelConfirm}">Confirmar</a>
	            </div>
	        </div>
	    </div>
	</div>

</body>
<footer></footer>
</html>