<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Vuelos APP</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="SHORTCUT ICON" th:href="@{/images/mainIcon.png}"/>
	
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-3.3.6.min.css}" />
	<link rel="stylesheet" th:href="@{/css/global/global.css}" />
	
	<script type="text/javascript" th:src="@{/js/global/jquery-2.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-3.3.6.min.js}"></script>
</head>
<body>
	<div layout:fragment="emptyBody"></div>
</body>
  <footer></footer>
</html>