<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Vuelos APP</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="SHORTCUT ICON" th:href="@{/images/mainIcon.png}"/>
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-3.3.6.min.css}" />
	<link rel="stylesheet" th:href="@{/css/global/global.css}" />
	<link rel="stylesheet" th:href="@{/fonts/font-awesome/css/font-awesome.min.css}" />
	
	<script type="text/javascript" th:src="@{/js/global/jquery-2.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-3.3.6.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/global/accounting.min.js}"></script>
</head>
<body>
	<div class="container">
		<br />
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">

					<span class="panel-title pull-left titlePanel" style="padding-top: 5.5px;"><b>Vuelos de aerolíneas</b></span>

					<div class="btn-group pull-right" style="padding-top: 3.5px;">

						<form id="buttonsForm" th:action="@{/logout}" method="post">
							<div class="btn-group">
								<a class="btn btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Opciones del usuario">
									<font color="FFFFFF">
										<label class="usuarioLogeado"><i class="fa fa-user" aria-hidden="true"></i> <span sec:authentication="principal.nombreYApellido"></span></label>
										<span class="caret"></span>
									</font>
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="#"
										onclick="document.getElementById('buttonsForm').submit()" title="Cerrar sesión">Cerrar sesión</a></li>
								</ul>
							</div>

						</form>
					</div>
				</div>
				<div class="panel-body center">
					<div align="center" th:if="${message}" class="alert alert-success center" role="alert">
						<strong><span th:text="${message}"></span></strong>
					</div>
					<div align="center" th:if="${error}" class="alert alert-error center" role="alert">
						<strong><span th:text="${error}"></span></strong>
					</div>
    				<div layout:fragment="containerInsideBody"></div>
				</div>
			</div>
		</div>
	</div>
</body>
  <footer></footer>
</html>