<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div th:fragment="globalError">
		<p class="alert alert-danger col-md-11 center texto-centrado"
			th:each="error : ${#fields.allErrors()}" th:text="${error}" />
	</div>
</body>
<footer></footer>
</html>