<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="global/globalTemplate">

<head>
<title>Reserva de Asiento</title>
<script type="text/javascript" th:src="@{/js/confirmation.js}"></script>
<script type="text/javascript" th:src="@{/js/bookScreen.js}"></script>
</head>
<div class="container col-md-12" layout:fragment="containerInsideBody">

<div th:replace="/global/confirmacion::confirmationFragment(
				title='Confirmación de reserva',
				alertMessage='Está a punto de reservar el asiento',
				question='¿Está seguro que desea continuar?',
				labelAbort='Atrás',
				labelConfirm='Confirmar reserva'
				)">
</div>
	<div>
		<h3 align="center">
			<b>Reserva de Asientos</b>
		</h3>
	</div>
	<hr class="divider"></hr>
	<div class="row col-xs-12 container-fluid center">
		<div class="container col-md-5 text-right">
			<h4 th:text="${vueloModel.origen}">Origen</h4>
			<h5 th:text="${vueloModel.stringFechaDespegue}">Fecha Despegue</h5>
		</div>
		
		<div class="container col-md-2 text-center">
			<h3 class="glyphicon glyphicon-arrow-right"></h3>
		</div>
		
		<div class="container col-md-5 text-left">
			<h4 th:text="${vueloModel.destino}">Destino</h4>
			<h5 th:text="${vueloModel.stringFechaAterrizaje}">Fecha Aterrizaje</h5>
		</div>
		
	</div>
	<hr class="divider"></hr>
 	
 	<div class="row col-xs-12 container-fluid">
 	
		<div class="col-md-6">
			<div class="text-center"><h4><b>Tramos</b></h4></div>
			
			<h4 align="center" th:if="${#lists.isEmpty(vueloModel.tramos)}">
				<font color="#666600"><b>El vuelo no posee tramos</b></font>
			</h4>
			
			<table class="table table-striped" th:unless="${#lists.isEmpty(vueloModel.tramos)}">
				<thead>
					<tr>
						<th>Destino Intermedio</th>
						<th>Llegada</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="tramo : ${vueloModel.tramos}">
						<td th:text="${tramo.destinoIntermedio}">Destino intermedio</td>
						<td th:text="${tramo.stringFechaLlegada}">Fecha de Llegada</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6 text-center">
			<div><h4><b>Aerolínea</b></h4></div>
			<div th:inline="text"><h4>[[${vueloModel.aerolinea}]]</h4></div>
		</div>
	</div>
	
	<br/><br/><br/>
	
 	<div class="center text-center">
		<h2>
			<span th:each="fila : ${#numbers.sequence(1,10)}">
				<button th:class="${vueloModel.getAsiento(__fila__+'V').estaReservado? 'btn btn-danger disabled btn-lg' : 'btn btn-success btn-lg'}" 
				th:onclick="${!vueloModel.getAsiento(__fila__+'V').estaReservado} ? 'javascript:seleccionarAsiento(\'' + ${vueloModel.getAsiento(__fila__+'V')} + '\', \'' + ${vueloModel.getAsiento(__fila__+'V').costoTotal} + '\' );' : ''" 
				th:text="${vueloModel.getAsiento(__fila__+'V')}" th:title="'Asiento '+${fila}+'V'"></button>
			</span>
		</h2>
	</div>
	
	<div class="center text-center">
		<h2>
			<span th:each="fila : ${#numbers.sequence(1,10)}">
				<button th:class="${vueloModel.getAsiento(__fila__+'C').estaReservado? 'btn btn-danger disabled btn-lg' : 'btn btn-success btn-lg'}" 
				th:onclick="${!vueloModel.getAsiento(__fila__+'C').estaReservado} ? 'javascript:seleccionarAsiento(\'' + ${vueloModel.getAsiento(__fila__+'C')} + '\', \'' + ${vueloModel.getAsiento(__fila__+'C').costoTotal} + '\' );' : ''" 
				th:text="${vueloModel.getAsiento(__fila__+'C')}" th:title="'Asiento '+${fila}+'C'"></button>
			</span>
		</h2>
	</div>
	
	<div class="center text-center">
		<h2>
			<span th:each="fila : ${#numbers.sequence(1,10)}">
				<button th:class="${vueloModel.getAsiento(__fila__+'P').estaReservado? 'btn btn-danger disabled btn-lg' : 'btn btn-success btn-lg'}" 
				th:onclick="${!vueloModel.getAsiento(__fila__+'P').estaReservado} ? 'javascript:seleccionarAsiento(\'' + ${vueloModel.getAsiento(__fila__+'P')} + '\', \'' + ${vueloModel.getAsiento(__fila__+'P').costoTotal} + '\' );' : ''" 
				th:text="${vueloModel.getAsiento(__fila__+'P')}" th:title="'Asiento '+${fila}+'P'"></button>
			</span>
		</h2>
	</div>
	
	<br/>
	
	
    <div class="panel panel-default col-md-10 center">
    	<div class="panel-body">
			<div style="font-size:18px" class="left container col-md-12 text-center">
				<div class="col-md-3 vcenter">
					<div>Asiento Elegido</div>
					<div id="asientoElegido">-</div>
				</div>
				
				<div class="col-md-4 vcenter">
					<div>Monto a Pagar</div>
					<div id="monto">$ -</div>
				</div>
				<div class="col-md-3 vcenter">
					<div><a id="reservar" class="btn btn-primary disabled" onclick="javascript:reservarAsiento();" data-toggle="modal" data-target="#confirm" title="Reservar asiento"><span class="glyphicon glyphicon-ok"></span> Reservar</a></div>
				</div>
			</div>
		</div>
    </div>
    
	<br/>
	<div class="container center text-center col-md-12"><a class="btn btn-warning" th:href="@{/showSearchScreen}" title="Volver a búsqueda de vuelos"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver</a></div>
	<br/>

<input type="hidden" id="idVuelo" th:value="${vueloModel.idVuelo}"/>
<input type="hidden" id="posicionAsiento"/>
</div>

</html>