<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="global/globalTemplate">

<head>
<title>Vuelos Consultados</title>
<script type="text/javascript" th:src="@{/js/confirmation.js}"></script>
<script type="text/javascript" th:src="@{/js/bookScreen.js}"></script>
</head>
<div class="container col-md-12" layout:fragment="containerInsideBody">

	<div>
		<h3 align="center">
			<b>Vuelos Consultados</b>
			<span class="glyphicon glyphicon-plane"></span>
		</h3>
	</div>
	
	<br />
	
	<div class="row col-xs-12 container-fluid">
		<div class="col-sm-3">
			<div>
				<label class="control-label">Fecha de Consulta</label>
			</div>
			<span class="form-control"
				th:text="${consulta.descFechaHoraConsulta}">Fecha y Hora</span>
		</div>

		<div class="col-sm-9">
			<label class="control-label">Criterio:</label>
			<span class="form-control" th:include="global/criteriosDeBusqueda::criteriosDeBusqueda"></span>
		</div>
	</div>

	<br /> <br /> <br /> <br />

	<div class="col-md-12">
		<table class="table table-bordered text-center">
			<thead>
				<tr>
					<th class="text-center">Origen</th>
					<th class="text-center">Destino</th>
					<th class="text-center">Salida</th>
					<th class="text-center">Llegada</th>
					<th class="text-center">Tramos</th>
					<th class="text-center">Asientos libres</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vuelo : ${consulta.vuelosEncontrados}">
					<td th:text="${vuelo.origen}" />
					<td th:text="${vuelo.destino}" />
					<td th:text="${vuelo.stringFechaDespegue}" />
					<td th:text="${vuelo.stringFechaAterrizaje}" />
					<td th:text="${vuelo.cantidadTramos}" />
					<td align="center" th:text="${vuelo.cantidadAsientosFiltrados}"/>
				</tr>
			</tbody>
		</table>
	</div>

	<div align="center">
		<a class="btn btn-warning" th:href="@{/showLogScreen}"
			title="Volver a las consultas"><i class="fa fa-arrow-circle-left"
			aria-hidden="true"></i> Volver</a>
	</div>
</div>
</html>