<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="global/globalTemplate">

<head>
<title>Log de Consultas</title>
<script type="text/javascript" th:src="@{/js/confirmation.js}"></script>
<script type="text/javascript" th:src="@{/js/bookScreen.js}"></script>
</head>
<div class="container col-md-12" layout:fragment="containerInsideBody">

	<div>
		<h3 align="center">
			<b>Log de Consultas</b>
			<span class="glyphicon glyphicon-book"></span>
		</h3>
	</div>
	
	<br />
	
	<form action="#" th:action="@{/filtrarLogs}" th:object="${logsModel}" method="post">
		<div th:replace="global/globalErrorTemplate::globalError"></div>
		<div class="row col-xs-12 container-fluid">
		
			<div th:class="${#fields.hasErrors('*{dateRangeValid}')}? 'col-sm-3 has-error' : 'col-sm-3'">
				<label class="control-label">Fecha desde</label>
				<input class="form-control" type="date" th:field="*{fechaDesde}"/>
			</div>
			
			<div th:class="${#fields.hasErrors('*{dateRangeValid}')}? 'col-sm-3 has-error' : 'col-sm-3'">
				<label class="control-label">Fecha hasta</label>
				<input class="form-control" type="date" th:field="*{fechaHasta}"/>
			</div>
			
			<div class="col-sm-2">
				<label class="control-label">&nbsp;</label>
				<button type="submit" class="btn btn-primary btn-block" title="Buscar vuelos con los parametros seleccionados"><span class="glyphicon glyphicon-search"></span><b>&nbsp;Buscar</b></button>
			</div>
		</div>
		
		<br /> <br />
		
		
		<br /> <br /> 
	
		<div class="col-md-12">

			<h4 align="center" th:if="${#lists.isEmpty(logsModel.consultas)}">
				<font color="#666600"><b>No se han encontrado resultados
						con los parametros aplicados</b></font>
				<br/>
			</h4>

			<table class="table table-bordered text-center" th:unless="${#lists.isEmpty(logsModel.consultas)}">
				<thead>
					<tr>
						<th class="text-center">Fecha</th>
						<th class="text-center">Criterio de Búsqueda</th>
						<th class="text-center">Vuelos Encontrados<span
							class="glyphicon glyphicon-info-sign"
							title="Puede ver los vuelos consultados &#10;haciendo click en la cantidad de vuelos encontrados."></span>
						</th>
					</tr>
				</thead>
				<tbody>
				<tr th:each="consulta : *{consultas}">
						<td th:text="${consulta.descFechaHoraConsulta}" />
						<td th:include="/global/criteriosDeBusqueda::criteriosDeBusqueda"></td>
						<td align="center">
							<a th:unless="${consulta.vuelosEmpty}" class="label label-primary" th:href="@{/showFlightLogScreen/{id}(id=${consulta.idConsulta})}" th:text="${consulta.cantidadVuelosEncontrados}" title="Ingresar para consultas">Cantidad</a>
							<span th:if="${consulta.vuelosEmpty}" class="label label-danger">0</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	<div align="center">
		<a class="btn btn-warning" th:href="@{/showMainScreen}"
			title="Volver a reservas"><i class="fa fa-arrow-circle-left"
			aria-hidden="true"></i> Volver</a>
	</div>
</div>
</html>