<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="global/globalTemplate">
<head>
	<title>Bienvenido a Vuelos</title>
	<script type="text/javascript" th:src="@{js/confirmation.js}"></script>
	
	<link rel="stylesheet" th:href="@{datatables/datatables.min.css}" />
	<link rel="stylesheet" th:href="@{datatables/customDataTables.css}" />
	
	<script type="text/javascript" th:src="@{datatables/datatables.min.js}"></script>
	<script type="text/javascript" th:src="@{datatables/moment.min.js}"></script>
	<script type="text/javascript" th:src="@{datatables/datetime-moment.js}"></script>
	
	
</head>
<div class="container col-md-12" layout:fragment="containerInsideBody">
<div th:replace="/global/confirmacion::confirmationFragment(
				title='Confirmación',
				alertMessage='Está a punto de cancelar la reserva',
				question='¿Está seguro que desea continuar?',
				labelAbort='Volver',
				labelConfirm='Cancelar reserva'
				)">
				
</div>
	<div>
		<h2 align="center">
			<b>Reservas efectuadas</b>
		</h2>
	</div>
	
	<div class="col-md-12 center">
		<h4 align="center" th:if="${#lists.isEmpty(reservas)}"><font color="#666600"><b>No se han encontrado reservas activas a su nombre</b></font></h4>
		<br/>
		<table class="table table-striped" th:unless="${#lists.isEmpty(reservas)}" id="tablaReservas">
			<thead>
				<tr>
					<th>Origen</th>
					<th>Destino</th>
					<th>Salida</th>
					<th>Llegada</th>
					<th class="no-sort">Tramos</th>
					<th>Asiento Reservado</th>
					<th class="no-sort"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reserva : ${reservas}">
					<td th:text="${reserva.ciudadOrigen}" />
					<td th:text="${reserva.ciudadDestino}" />
					<td th:text="${reserva.fechaSalida}" />
					<td th:text="${reserva.fechaLlegada}" />
					<td th:text="${reserva.cantidadTramos}" />
					<td th:text="${reserva.asientoReservado}" />
					<td><a href="#" class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#confirm" title="Cancelar reserva" 
							th:onclick="'javascript:openConfirmModal(\'' + @{/cancelarReserva/{id}(id=${reserva.idReserva})} + '\');'"></a></td>
				</tr>

			</tbody>
		</table>
	</div>
	<br/>
	<br/>
	<div align="center">
		<a class="btn btn-primary" th:href="@{/showSearchScreen}" title="Ingresar a buscar vuelos"><i class="fa fa-plane" aria-hidden="true"></i> Búsqueda de vuelos</a>
		<a class="btn btn-warning" th:href="@{/showLogScreen}" title="Ingresar para ver Logs"><span class="glyphicon glyphicon-folder-open"></span> Log de consultas hechas</a>
	</div>
	<br/>
<script>

$(document).ready(function(){
	$.fn.dataTable.moment('DD-MM-YYYY HH:mm');
    $('#tablaReservas').DataTable( {
        "language": {
            "url": "datatables/spanishDataTables.json"
        }, 
    
        "columnDefs": [ {
            "targets"  : 'no-sort',
            "orderable": false,
            "order": []
          }],
		"stateSave": true,
		"stateDuration": -1,//use sessionStorage
          
		"aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "Todas"]],
		"pageLength": 10
    } );
});
</script>
</div>

</html>