<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="global/globalTemplate">

<head>
<title>Buscar Vuelos</title>
<script type="text/javascript" th:src="@{/js/searchScreen.js}"></script>
</head>
<div class="container col-md-12" layout:fragment="containerInsideBody">

	<form action="#" th:action="@{/search}" th:object="${searchModel}" method="post">
	<div th:replace="global/globalErrorTemplate::globalError"></div>
	
	<div>
		<h2 align="center">
			<b>Búsqueda de vuelos</b>
		</h2>
	</div>
	<br/><br/>
	
	<div>
		<div class="col-sm-3">
			<label class="control-label">Origen</label> 
			<select class="form-control" th:field="*{origen}">
				<option value="">Seleccione una opción</option>
				<option th:each="aeropuerto : *{aeropuertos}"
						th:value="${aeropuerto.idAeropuerto}"
						th:text="${aeropuerto.ciudad}">OpcionOrigen</option>
			</select>
		</div>
		<div class="col-sm-3">
			<label class="control-label">Destino</label> 
			<select class="form-control" th:field="*{destino}">
				<option value="">Seleccione una opción</option>
				<option th:each="aeropuerto : *{aeropuertos}"
						th:value="${aeropuerto.idAeropuerto}"
						th:text="${aeropuerto.ciudad}">OpcionDestino</option>
			</select>
		</div>
		
		<div th:class="${#fields.hasErrors('*{dateRangeValid}')}? 'col-sm-2 has-error' : 'col-sm-2'">
			<label class="control-label">Fecha desde</label>
			<input class="form-control" type="date" th:field="*{fechaDesde}"/>
		</div>
		
		<div th:class="${#fields.hasErrors('*{dateRangeValid}')}? 'col-sm-2 has-error' : 'col-sm-2'">
			<label class="control-label">Fecha hasta</label>
			<input class="form-control" type="date" th:field="*{fechaHasta}"/>
		</div>
		
		<div th:class="${#fields.hasErrors('*{monto}')}? 'form-group col-sm-2 has-error' : 'form-group col-sm-2'">
			<label class="control-label">Monto Máximo <span class="glyphicon glyphicon-trash" title="Limpiar campos" onclick="javascript:cleanFields();"></span> </label>
			<input class="form-control" type="text" th:field="*{monto}" placeholder="Ingrese $ máximo"/>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
		<div class="col-sm-6 center">
			<button type="submit" class="btn btn-primary btn-block" title="Buscar vuelos con los parametros seleccionados"><span class="glyphicon glyphicon-search"></span><b> Realizar Búsqueda</b></button>
		</div>
	</form>
		<br />
		<br />
		<br />
		<h4 align="center" th:if="${#lists.isEmpty(searchModel.vuelosModel)}">
			<font color="#666600"><b>No se han encontrado resultados
					con los parametros aplicados</b></font>
		</h4>
		
		<table class="table table-bordered text-center"
			th:unless="${#lists.isEmpty(searchModel.vuelosModel)}">
			<thead>
				<tr>
					<th class="text-center">Origen</th>
					<th class="text-center">Destino</th>
					<th class="text-center">Salida</th>
					<th class="text-center">Llegada</th>
					<th class="text-center">Tramos</th>
					<th class="text-center">Asientos libres 
						<span class="glyphicon glyphicon-info-sign" title="Puede ingresar en la pantalla de reservas &#10;haciendo click en la cantidad de asientos libres"></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vuelo : ${searchModel.vuelosModel}" th:class="${vuelo.asientosEmpty}? 'danger'">
					<td th:text="${vuelo.origen}" />
					<td th:text="${vuelo.destino}" />
					<td th:text="${vuelo.stringFechaDespegue}" />
					<td th:text="${vuelo.stringFechaAterrizaje}" />
					<td th:text="${vuelo.cantidadTramos}" />
					<td align="center">
						<a th:unless="${vuelo.asientosEmpty}" class="label label-primary" th:href="@{/showBookScreen/{id}(id=${vuelo.idVuelo})}" th:text="${vuelo.cantidadAsientosFiltrados}" title="Ingresar para reservar">Cantidad</a>
						<span th:if="${vuelo.asientosEmpty}" class="label label-danger">0</span>
					</td>
				</tr>

			</tbody>
		</table>
	<br/>
	<div align="center">
		<a class="btn btn-warning" th:href="@{/showMainScreen}" title="Volver a reservas"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver</a>
	</div>
	<br/>
</div>
</html>