<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="global/globalTemplate">

<head>
<title>Under development</title>
</head>
<div class="container" layout:fragment="containerInsideBody">
	<div>
		<h2 align="center">
			<font color="#666600"><b>Esta funcionalidad aún se esta desarrollando</b></font>
		</h2>
	</div>
	<br/>
	<br/>
	<div class="col-md-12 center">
		<img th:src="@{/images/underDev.png}" style="margin:0px auto;display:block"/>
	</div>
	<br/>
	<h4 align="center">Vuelva a ingresar dentro de algunos días...</h4>
	<br/>
	<div align="center">
		<a class="btn btn-warning" th:href="@{/showMainScreen}">Volver a la pantalla principal</a>
	</div>
	
</div>
</html>